.home-layout {
  min-height: 100vh; // 确保布局高度至少占满视口
  .home-menu-logo {
    padding: 16px;
    text-align: center;
    img {
      max-width: 60%;
      height: auto;
    }
  }
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .header-right {
    .identity {
      padding: 0 20px;
    }
    .operate {
      display: inline-block;
      margin-right: 20px;
      .down-outlined {
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }
}
